@import "../Button/buttons";

.button[data-store-buy-button] {
  color: var(--color-text-inverse);
  background-color: black;
  justify-content: space-around;
  border-radius: 0;

  &:hover { color: gray; transition: all 0.3s; }

  &:active { background-color:black; }

  &:disabled {
    color: var(--color-neutral-6);
    background-color: var(--bg-disabled);
  }
}
