.cart-item {
  background-color: var(--bg-neutral-lightest);
  border: 1px solid black;
  border-radius:0;
  margin-bottom: 20px;

  [data-card-content] {
    display: flex;
   
  }

  [data-cart-item-summary] {
    display: block;
    margin-top: var(--space-3);
    margin-left: var(--space-5);

    p {
      margin-bottom: var(--space-0);
      line-height: 1.2;
    }
  }

  [data-cart-item-quantity] {
    display: flex;
    margin-top: 140px;
    align-items: baseline;
  }
}